<div style="width: 800px; padding-top: 50px; padding-left: 200px; font-size: 30px">
	Congratulations, your message was sent by SMS!
	<br/>
	<br/>
	<a href="<%= url_for :controller => :main, :action => :index %>" style="text-decoration:none">
		Click here to continue
	</a>	
	<br/>
	<br/>
</div>