<div style="width: 800px; padding-top: 50px; padding-left: 200px; text-align:center">
	<script src="http://api.opentok.com/hl/recorder/2rec875f0940db9111f844479a4441b55879d5f8/button.js" type="text/javascript" charset="utf-8"></script>
</div>